<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a3032ad7-004a-4c91-bca3-c90b73e14856/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/AppServiceDemoShowIT</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <ApiResourceId>/subscriptions/a3032ad7-004a-4c91-bca3-c90b73e14856/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/ServiceBusQueueWebAPIapi/apis/ServiceBusQueueWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appservicedemoshowit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>80b5f256-40c3-40df-851e-6cd8450d6dbd</ProjectGuid>
    <MSDeployServiceURL>appservicedemoshowit.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AppServiceDemoShowIT</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AppServiceDemoShowIT</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>