<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calculatortrigger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a3032ad7-004a-4c91-bca3-c90b73e14856/resourcegroups/NewRG/providers/Microsoft.Web/sites/CalculatorTrigger</ResourceId>
    <UserName>$CalculatorTrigger</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://calculatortrigger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>